RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www.)?aseguro.mx$ [NC]

RewriteCond %{REQUEST_URI} !^/public/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /public/$1 [L]

RewriteCond %{HTTP_HOST} ^(www.)?aseguro.mx$ [NC]
RewriteRule ^(/)?$ public/ [L]