#background-aseguros
{
	padding-top: 4em;
}

img.gallery__img
{
    max-height: 82px !important;
}

.gallery-wrap
{
	margin: 0 auto;
	overflow: hidden;
	width: 40vw;
}

.gallery
{
	position: relative;
	left: 0;
	top: 0;
}

.gallery__item
{
	float: left;
	list-style: none;
	margin-right: 20px;
}

.gallery__img
{
	display: block;
}


.gallery__controls
{
	margin-top: 10px;
}

.gallery__controls-prev
{
	cursor: pointer;
	float: left;
	transform: translate(22em, -6em);
    -webkit-transform: translate(22em, -6em);
}

.gallery__controls-next
{
	cursor: pointer;
	float: right;
	transform: translate(-22em, -6em);
    -webkit-transform: translate(-22em, -6em);
}
