.animated { 
  -webkit-animation-name: bounceIn;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 10;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  
  animation-name: bounceIn;
  animation-duration: 3s;
  animation-iteration-count: 10;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
} 

/*
 * Animation for webkit
*/
@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 
  
@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
} 
  
/*
 * Adding the animation to our element
*/
.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}

.close 
{
	font-size: 3em;
	opacity: 1;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-weight: normal !important;
  float: none;
  text-shadow: none;
}

.close:hover
{
	color: #FFFFFF;
  opacity: 1;
}

img[alt="carrochocado"],
img[alt="carro"]
{
	width: 100vw; 
	height: auto; 
}

img[alt="home-logo"]
{
	top: 2vw;
	left: 2vw;
	position: absolute;
	z-index: 15;
}


button.btn-close,
button.btn-close:hover
{
  background-color: #0D0F42;
  border-radius: 6px;
  border: 1px solid #0D0F42;
  width: 30%;
  color: #FFFFFF;
}